@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Raleway;
    src: url('https://fonts.googleapis.com/css?family=Raleway');
}

.main-background{
    width: 100%;
    min-height: 100vh;
    background: #9053c7;
    padding: 15px;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.nav-menu a:hover{
    color: #80465E;
}
.nav-menu a:focus{
    color: #80465E;
}
.white-box{
    width: 1000px;
    min-height: 600px;
    background: #fff;
    margin: auto;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}
.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}
.navbar-lcp{
    width: 100%;
    height: 60px;
    margin: 5px 30px;
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
}
.navbar-lcp img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nav-menu{
    /*text-align: center;*/
    margin: auto;
    position: relative;
    left:3%;
}

span {
    text-align: center;
}
.home-button:hover{
    
    text-decoration:none;
    
}
.nav-menu a{
    font-family: Raleway;
    font-size: 24px;
    margin: 30px;
    color: #031E32;
}
.user-info{
    font-family: Poppins-Medium;
    font-size: 15px;
    text-align: start;
    padding: 20px;

}

.navbar-bot-border{
    width: 40%;
    height: 2px;
    background: #031E32;
    margin: auto;
}
#now-showing-text{
    font-family: 'Raleway';
    color: #031E32;
    font-size: 30px;
    margin-left: 40px;
    padding: 20px 20px 20px 0px;
}
#book-ticket-text{
    font-family: 'Raleway';
    font-size: 30px;
    color: #031E32;
    margin-top: 20px;
    margin-left: 40px;
    padding: 20px 20px 20px 0px;
}
#carouselExampleIndicators{
    margin-left: 70px;
    margin-right: 70px;
}
.carousel-inner{
    margin: auto;
    max-width: 1000px;
    border-radius: 10px;
    max-height: 300px;
}
.carousel-item{
    height: 300px;
}
.carousel-item img{
    height: 300px;
}
.city-image{
    margin-left: 100px;
}
#city-selection-title{
    font-family: 'Poppins-Medium';
    font-size: 20px;
    color: #80465E;
    margin-left: 120px;
}
#movie-selection-text{
    font-family: 'Poppins-Medium';
    font-size: 20px;
    color: #80465E;
    margin-left: 120px;
}
.movie-list{
    font-family: 'Poppins-Regular';
    font-size: 15px;
    color: #80465E;
    margin-left: 120px;
}
select{
    text-align-last: center;
    width: 90%;
    border-radius: 20px;
    color: #80465E;
    border-color: #80465E;
}
#theatre-selection-text{
    font-family: 'Poppins-Medium';
    font-size: 20px;
    color: #80465E;
    margin-top: 20px;
    margin-left: 120px;
}
.theatre-list{
    font-family: 'Poppins-Regular';
    font-size: 15px;
    color: #80465E;
    margin-left: 120px;
}
#show-timing-text{
    font-family: 'Poppins-Medium';
    font-size: 20px;
    color: #80465E;
    margin-top: 20px;
    margin-left: 120px;
}
.show-time-list{
    font-family: 'Poppins-Regular';
    font-size: 15px;
    color: #80465E;
    margin-left: 120px;
}
.btn{
    border-radius: 30%;
}
.btn-default{
    width: 150px;
    background: #031E32;
    color: #806169;
    margin-top: 40px;
    margin-left: 430px;
}

input[type=radio]:checked + label {
  border: 1px solid #3399ff;
  box-shadow: 0 0 3px 3px #3399ff;
}


input[type=radio] + label>img {
  border: 1px #3399ff;
  width: 100%;
  height: 100%;
  transition: 500ms all;
  position: relative;
  padding: 5px;
}

.city-image input{
    visibility: hidden;
    margin-left: 50px;
}
.city-image label{
    width: 100px;
    height: 100px;
}
.show-time-list input{
    visibility: hidden;
    margin-left: 50px;
}
.show-time-list label{
    padding: 5px;
    border: 2px solid #80465E;
    border-radius: 30px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.user-info:hover .dropdown-content {
    display: block;
    margin-right: 10px;
}