<!DOCTYPE html>
<!-- The landing page for the Lights Camera Popcorn Web Application -->
<html>
<head>
	<title>Lights Camera Popcorn</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
 	<link rel="stylesheet" type="text/css" href="static/css/app.css"> 
</head>

<body>
  <nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-left" href="#"> <img src="static/images/logo.png" alt="Logo" width="45px" height="45px"></a>
      <a class="navbar-brand" href="#">Lights Camera Popcorn</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home">Login  <i class="fa fa-user"></i></a></li>
        <li><a href="/signup">Signup  <i class="fa fa-user-plus"></i></a></li>
      </ul>
    </div>
  </div>
 </nav>
  <div class="container">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 				<h1>LIGHTS CAMERA POPCORN</h1>
 				<h3>Redifining Online Movie Booking</h3>
        <div class = "explore"> <a href="/home"> <img src = "/static/images/explore.png" alt= "explore"></a></div>
 				<hr>
 			</div>
 		</div>
 	</div>
 </div>
</body>
</html>
